<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Challenges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button>
      <ion-thumbnail
        slot="start"
        class="is-icon-thumbnail is-background-dark ion-align-self-start"
      >
        <ion-icon name="archive"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Recycle</h2>
        <p class="ion-text-wrap">
          [5x] Recycle an item and upload a selfie of your action.
        </p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail
        slot="start"
        class="is-icon-thumbnail is-background-success ion-align-self-start"
      >
        <ion-icon name="folder-open"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Save Water - Shower</h2>
        <p class="ion-text-wrap">
          [3x] Remember to turn the tap off when you don't need it during a
          shower.
        </p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail
        slot="start"
        class="is-icon-thumbnail is-background-secondary ion-align-self-start"
      >
        <ion-icon name="pie-chart"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Save Electricity - Lights</h2>
        <p class="ion-text-wrap">
          [Full Week] Turn off lights in empty rooms in your home.
        </p>
      </ion-label>
    </ion-item>
    <!-- <ion-item button>
      <ion-thumbnail
        slot="start"
        class="is-icon-thumbnail is-background-primary ion-align-self-start"
      >
        <ion-icon name="person"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Profiles</h2>
        <p class="ion-text-wrap">
          The Centers for Disease Control & Prevention on Saturday began
          distributing cards at airports.
        </p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail
        slot="start"
        class="is-icon-thumbnail is-background-light ion-align-self-start"
      >
        <ion-icon name="apps"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Sign Up / Login</h2>
        <p class="ion-text-wrap">
          The Myspace page defines the individual, his or her characteristics,
          traits, personal choices.
        </p>
      </ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>
