<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Our Challenges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="is-tiles is-card-unbordered">
    <ion-row>
      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <ion-item
            routerLink="/albums"
            detail="false"
            lines="none"
            class="ion-no-padding"
          >
            <ion-label class="ion-no-margin">
              <div>
                <img src="assets/imgs/album1.jpg" />
                <ion-fab slot="fixed">
                  <ion-fab-button fill="outline" size="small"
                    ><ion-icon name="play"></ion-icon
                  ></ion-fab-button>
                </ion-fab>
              </div>
              <ion-card-content class="ion-no-padding">
                <h2>Recycle Your Bottles Challenge</h2>
                <h4>Learn More</h4>
              </ion-card-content>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <ion-item
            routerLink="/albums"
            detail="false"
            lines="none"
            class="ion-no-padding"
          >
            <ion-label class="ion-no-margin">
              <div>
                <img src="assets/imgs/album2.jpg" />
                <ion-fab slot="fixed">
                  <ion-fab-button fill="outline" size="small"
                    ><ion-icon name="play"></ion-icon
                  ></ion-fab-button>
                </ion-fab>
              </div>
              <ion-card-content class="ion-no-padding">
                <h2>Save Electricity Challenge</h2>
                <h4>Learn More</h4>
              </ion-card-content>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <ion-item
            routerLink="/albums"
            detail="false"
            lines="none"
            class="ion-no-padding"
          >
            <ion-label class="ion-no-margin">
              <div>
                <img src="assets/imgs/album3.jpg" />
                <ion-fab slot="fixed">
                  <ion-fab-button fill="outline" size="small"
                    ><ion-icon name="play"></ion-icon
                  ></ion-fab-button>
                </ion-fab>
              </div>
              <ion-card-content class="ion-no-padding">
                <h2>Save Water Challenge</h2>
                <h4>Learn More</h4>
              </ion-card-content>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <ion-item
            routerLink="/albums"
            detail="false"
            lines="none"
            class="ion-no-padding"
          >
            <ion-label class="ion-no-margin">
              <div>
                <img src="assets/imgs/album4.jpg" />
                <ion-fab slot="fixed">
                  <ion-fab-button fill="outline" size="small"
                    ><ion-icon name="play"></ion-icon
                  ></ion-fab-button>
                </ion-fab>
              </div>
              <ion-card-content class="ion-no-padding">
                <h2>Recycle Containers Challenge</h2>
                <h4>Learn More</h4>
              </ion-card-content>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
